body {
    width: 600px;
    margin: 0 auto;
    font-family: "Smythe", system-ui;
}

.container {
  width: 508px;
  margin: 0 auto;
}

h1, h2 {
  color: #FFFFFF;
  margin: 0;
}

header h1{
  font-size: 39px;
}

header h2{
  font-size: 22.42px;
}

#order-section h3{
  text-align: center;
  margin: 45px 0;
}

#order-section p, h3 {
  font-size: 28px;
}

.order-item-price {
  font-size: 20px;
  padding-top: 12px;
}

#order-section p{
  margin: 12px 0 0 0;
}

.remove-order-item{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  padding: 0 12px;
  color: #BBBBBB;
  cursor: pointer;
}

header {
  background-image: url(/images/header.png);
  background-size: cover;
  background-position: center;
  padding: 56px 0;
  margin-bottom: 22px;
}

.item-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D2D2D2;
  padding: 51px 0 45px 0;
}

.item-first {
  display: flex;
  align-items: center;
}

.item-icon {
  font-size: 78px;
  margin-right: 20px;
}

.item-name {
  font-size: 28px;
  margin: 0 0 8px 0;
}

.item-price {
  font-size: 20px;
}

.add-btn {
  font-size: 25px;
  font-family: system-ui;
  font-weight: 100;
  border: 1.5px solid #DEDEDE;
  border-radius: 50%;
  color: #3C3C3C;
  padding: 0 10px 5px 10px;
  background: none;
  cursor: pointer;
}

.item-info p {
  color: #8B8B8B;
  margin: 0 0 8px 0;
}

.item-details, .order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-info {
  border-bottom: 1px solid grey;
  padding-bottom: 31px;
}

.card-details-modal {
  background-color: #FFFFFF;
  display: none;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 524px;
  height: 542.24px;
  border: 1.3px solid #757575;
  border-radius: 3.89px;
  box-shadow: 5.19px 5.19px 255.44px rgba(0, 0, 0, 0.5);
}

.card-details-modal-inner {
  width: 475.91px;
  margin: auto;
}

input {
  width: 88%;
  padding: 26.53px;
  margin-bottom: 23px;
  font-family: verdana;
  border: 1.3px solid #757575;
  border-radius: 3.89px;
}

.card-details-modal-inner h3 {
  margin: 47.32px 0 46.08px 0;
  font-family: verdana;
  font-size: 24px;
  text-align: center;
}

.btn-pay {
  font-family: verdana;
  font-size: 20px;
  font-weight: 600;
  color:white;
  background: #16DB99;
  border: none;
  width: 100%;
  padding: 26px 0;
  border-radius: 3.89px;
  margin-top: 23.44px;
  cursor: pointer;
}

.order-btn {
  width: 100%;
  background: #16DB99;
  border: none;
  padding: 18px 0;
  font-family: verdana;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  margin: 28px 0;
}

.order-completed-msg {
  display: none;
  font-size: 32px;
  padding: 51px 59px;
  background: #ECFDF5;
  color: #065F46;
}
