* {
  box-sizing: border-box;
}

body {
    width: 600px;
    margin: 0 auto;
    font-family: "Smythe", system-ui;
}

/*typography*/

h1, h2 {
  color: #FFFFFF;
  margin: 0;
}

h1, h2, h3, p {
  font-weight: 100;
}

header h1{
  font-size: 39px;
}

header h2{
  font-size: 22.42px;
}

#order-section h3{
  text-align: center;
  margin: 45px 0;
}

#order-section p, #order-section h3 {
  font-size: 28px;
}

.total-price {
  font-size: 20px;
  padding-top: 12px;
}

#order-section p{
  margin: 12px 0 0 0;
}

.item-name {
  font-size: 28px;
  margin: 0 0 8px 0;
}

.item-price {
  font-size: 20px;
}

.item-info p {
  color: #8B8B8B;
  margin: 0 0 8px 0;
}

/* layout */

.container {
  width: 508px;
  margin: 0 auto;
}

header {
  background-image: url(/images/header.png);
  background-size: cover;
  background-position: center;
  padding: 46px 0;
  margin-bottom: 22px;
  height: 167px;
}

.item-card,
.item-first,
.item-details,
.order-total {
  display: flex;
}

.item-card {
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #D2D2D2;
  padding-bottom: 25px;
  margin-top: 45px;
}

.item-first {
  align-items: center;
  padding-bottom: 25px;
}

.item-details, .order-total {
  justify-content: space-between;
  align-items: center;
}

.item-icon {
  font-size: 78px;
  margin-right: 20px;
}

.order-details {
  border-bottom: 2px solid #393333;;
  padding-bottom: 31px;
}

.order-complete-msg {
  display: none;
  font-size: 32px;
  padding: 10px 0;
  background: #ECFDF5;
  color: #065F46;
  width: 504px;
  margin: 45px auto;
  text-align: center;
}

/* buttons */

.add-btn, .remove-order-item {
  cursor: pointer;
}

.add-btn {
  font-size: 25px;
  font-family: system-ui;
  font-weight: 100;
  border: 1.5px solid #DEDEDE;
  border-radius: 50%;
  color: #3C3C3C;
  background: none;
  padding: 0 0 4px 0px;
  width: 50px;
  height: 50px;
  margin-top: 8px;
}

.remove-order-item{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  padding: 0 12px;
  color: #BBBBBB;
}

.btn {
  width: 100%;
  background: #16DB99;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  cursor: pointer;
  color: white;
}

.btn-order {
  padding: 21px 0;
  border-radius: 3px;
  margin: 28px 0;
}

.btn-pay {
  font-size: 20px;
  padding: 26px 0;
  border-radius: 3.89px;
  margin-top: 23.44px;
}

/* modal */

.payment-modal {
  background-color: #FFFFFF;
  display: none;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 524px;
  height: 542.24px;
  border-radius: 3.89px;
  box-shadow: 5.19px 5.19px 255.44px rgba(0, 0, 0, 0.5);
}

form {
  width: 475.91px;
  margin: 0 auto;
}

.payment-modal h3 {
  margin: 47.32px 0 46.08px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 26.53px;
  margin-bottom: 23px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1.3px solid #757575;
  border-radius: 3.89px;
  font-size: 20px;
}
